# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.py[cod]

# System files
.DS_Store
Thumbs.db

# Virtual environments
env/
venv/

# Ignore all pkl files
*.pkl

# But NOT the ones in models/
!model/*.pkl
